h1{
    text-align: center;
}
.box{
    border: 1px solid black;
    margin: auto;
    width:25em;
    padding: 20px;
}
input{
    width:30em;
    font-family: Arial, Helvetica, sans-serif;
}
textarea{
    width: 30em;
    max-width: 30em;
    font-family: Arial, Helvetica, sans-serif;
}
.btn{
    display: inline-block;
    background: #88d1d1;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: .6em;
    padding: .6em;
    font-weight: bold;
    transition: .4s;
}
.btn:hover{
    background: white;
    border: .4px solid black;
}
.box1{
    border: 1px solid black;
    margin: auto;
    margin-top: 5em;
    width:40em;
    padding: 15px;
}
table{
    margin: auto;
    width:35em;
    border: 1px solid black;
    text-align: center;
    border-spacing: 0px;
    
}
th,td{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding: .5em;
}
tr:last-child td{
    border-bottom: 1px solid black;
}
td:last-child{
    border-right: 1px solid transparent;
}
th:last-child{
    border-right: 1px solid transparent;
}