.quarter{
    margin:15em auto auto auto;
    position: relative;
    box-shadow: 1px 3px 5px black;
    background: rgb(173, 173, 173);
    height:4em;
    width: 4em;
    border-radius: 5em;
    text-align: center;
    padding: 1em;
    cursor: pointer;
    user-select: none;
}
.qtitle{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 1.5em;
    font-weight: bolder;
    text-transform: uppercase;
}
.qspin{
    transition: opacity 3s;
}
@keyframes ok{
    0%{ transform: rotate(0deg); transform: rotate3d(0,0,0.0deg);}
    25%{transform: rotate(360deg);transform: rotate3d(3,3,3,360deg);}
    50%{ transform: rotate(0deg); transform: rotate3d(0,0,0.0deg);}
    75%{transform: rotate(360deg);transform: rotate3d(3,3,3,360deg);}
    85%{ transform: rotate(0deg); transform: rotate3d(0,0,0.0deg);}
    100%{transform: rotate(360deg);transform: rotate3d(3,3,3,360deg); }
}
.btn{
    display: contents;
    font-size: 2em;
    cursor: pointer;
    transition: 150ms;
}
.btn:hover{
    text-shadow: 3px 1px 10px black;
}